DJANGO_SECRET_KEY=remplacer_par_une_cle_secrete
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=le_bon_prenom
POSTGRES_USER=le_bon_prenom
POSTGRES_PASSWORD=remplacer_par_le_mot_de_passe_postgresql
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173