POSTGRES_DB=le_bon_prenom
POSTGRES_USER=le_bon_prenom
POSTGRES_PASSWORD=a_remplacer

KEYCLOAK_POSTGRES_DB=keycloak
KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=a_remplacer

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=a_remplacer

DJANGO_SECRET_KEY=a_remplacer
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173

KEYCLOAK_ISSUER=http://localhost:8080/realms/le-bon-prenom
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/le-bon-prenom/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=le-bon-prenom-api

VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=le-bon-prenom
VITE_KEYCLOAK_CLIENT_ID=le-bon-prenom-frontend
VITE_API_URL=http://127.0.0.1:8000