POSTGRES_DB=le_bon_prenom
POSTGRES_USER=le_bon_prenom
POSTGRES_PASSWORD=a_remplacer

KEYCLOAK_POSTGRES_DB=keycloak
KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=a_remplacer

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=a_remplacer