POSTGRES_DB=le_bon_prenom
POSTGRES_USER=le_bon_prenom
POSTGRES_PASSWORD=remplacer_par_un_mot_de_passe

KEYCLOAK_POSTGRES_DB=keycloak
KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=remplacer_par_un_mot_de_passe

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=remplacer_par_un_mot_de_passe